httpx[http2]
pydantic[email]>=2.4.2
typer[all]
pendulum
requests
cryptography
pyyaml
InquirerPy
python-dotenv
websockets==10.4
termcolor
watchdog
readerwriterlock
pytest
pytest-asyncio
pytest-mock
pytest-cov
fastapi-poe